<footer class="mb-3 mt-3">
    <div class="container border-top border-dark mt-5">
        <div class="row mt-2">
            <div class="col"><i class="far fa-copyright"></i> CarStats 2018</div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>