body{
    background-color: #e5e3da;
    background-position: center;
    background-attachment: fixed;
    background-repeat:repeat-x;
    overflow:auto;
    }
nav{
    background-color:#cfcdc4;
}
#disp{
    color: green;
}
#nodisp{
    color: red;
}
label{
    font-weight:bold;
    font:white-space
}


#center{
  float: none;
  margin: 0 auto;
  margin-top: 150px;

}
