<footer>
    <div class="container border-top border-dark mt-4">
        <div class="row mt-2">
            <div class="col"><i class="far fa-copyright"></i> CarStats 2018</div>
            <div class="col text-center">
                <a href="https://www.facebook.com/" class="hvr-pop" target="_blank"><i class="fab fa-facebook" style="font-size: 40px; color: #4867AA;"></i></a>
                <a href="https://twitter.com/" class="hvr-pop" target="_blank"><i class="fab fa-twitter" style="font-size: 40px; color: #2DAAE2;"></i></a>
                <a href="https://www.youtube.com/" class="hvr-pop" target="_blank"><i class="fab fa-youtube" style="font-size: 40px; color: #FF0000;"></i></a>
            </div>
            <div class="col">
                <p class="btn btn-lg float-right hvr-box-shadow-outset" data-toggle="modal"
                   data-target="#contactarModal"
                   data-whatever="@mdo"><i class="fas fa-envelope"></i> Contactar
                </p>

                <div class="modal fade" id="contactarModal" tabindex="-1" role="dialog"
                     aria-labelledby="contactarModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="contactarModalLabel"><i class="fas fa-envelope"></i> Nuevo
                                    mensaje</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div id="requiredDiv" class="alert alert-warning" role="alert">
                                        El campo no puede estar vacío!
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                                        <span id="requiredRecipientName"></span>
                                        <input type="text" class="form-control" id="recipient-name"
                                               placeholder="Juan Manuel">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-mail" class="col-form-label">Correo electrónico:</label>
                                        <span id="requiredRecipientMail"></span>
                                        <input type="text" class="form-control" id="recipient-mail"
                                               placeholder="juan.manuel@mail.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-subject" class="col-form-label">Título:</label>
                                        <span id="requiredRecipientSubject"></span>
                                        <input type="text" class="form-control" id="recipient-subject"
                                               placeholder="Título mensaje">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Mensaje:</label>
                                        <span id="requiredMessageText"></span>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                                <address>
                                    <i>CarStats,</i> <br>
                                    <b>Dirección: </b> C/ Selva de Mar, 211 <br>
                                    <b>Ciudad:</b> Barcelona, 08020 <br>
                                    <b>Provincia:</b> Barcelona <br>
                                    <b>Teléfono:</b> 933 07 34 02 <br>
                                    <i>carstats@gmail.com</i>
                                </address>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" id="btnEnviarMensaje" class="btn btn-primary">Enviar mensaje
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
</body>
</html>