<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><i class="fas fa-car"></i> CarStats</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.php"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id="listarCoches" class="nav-link" href="listarCoches.php"><i class="fas fa-list"></i> Coches</a>
            </li>
            <li class="nav-item">
                <a id="miPerfil" class="nav-link" href="miPerfil.php"><i class="fas fa-user"></i> Perfil</a>
            </li>
        </ul>
        <form class="form-inline cmy-2 my-lg-0 ml-auto">
            <div class="mr-3 text-white">
                Bienvenido/a <?php echo $_SESSION["nombre"] ?>
            </div>
            <a href="consultasDB/cerrarSesion.php" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i>
                Cerrar sesión</a>
        </form>
    </div>
</nav>
