<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><i class="fas fa-car"></i> CarStats</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.php"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id="listarCoches" class="nav-link" href="listarCoches.php"><i class="fas fa-list"></i> Coches</a>
            </li>
        </ul>
        <form class="form-inline cmy-2 my-lg-0">
            <div id="required" class="alert-danger small mr-2"></div>
            <div>
                <input type="text" id="dniSesion" class="form-control mr-2" name="dni" placeholder="DNI">
            </div>
            <div>
                <input type="password" id="passwdSesion" class="form-control mr-3" name="passwd"
                       placeholder="Contraseña">
            </div>
            <button type="button" id="iniciarSesion" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Iniciar
                sesión
            </button>
        </form>
    </div>
    <button type="button" class="btn btn-warning ml-3" data-toggle="modal" data-target="#exampleModalCenter"><i
            class="fas fa-user-plus"></i> Registrar
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-user-plus"></i> Nuevo
                        usuario
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <div id="requiredAll" class="small alert-danger"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="dni" class="col-form-label col-form-label-sm">DNI</label>
                                    <span id="requiredDni"></span>
                                    <input type="text" class="form-control col-form-label-sm" id="dni"
                                           placeholder="12345678A" required>
                                </div>
                                <div class="col">
                                    <label for="nombre" class="col-form-label col-form-label-sm">Nombre</label>
                                    <span id="requiredNombre"></span>
                                    <input type="text" class="form-control col-form-label-sm" id="nombre"
                                           placeholder="Juan Manuel" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="apellidos"
                                           class="col-form-label col-form-label-sm">Apellidos</label>
                                    <span id="requiredApellidos"></span>
                                    <input type="text" class="form-control col-form-label-sm" id="apellidos"
                                           placeholder="Florez Vasco" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="pass" class="col-form-label col-form-label-sm">Contraseña</label>
                                    <span id="requiredPass"></span>
                                    <input type="password" class="form-control col-form-label-sm" id="pass"
                                           placeholder="Contraseña" required>
                                </div>
                                <div class="col">
                                    <label for="tel" class="col-form-label col-form-label-sm">Teléfono</label>
                                    <span id="requiredTel"></span>
                                    <input type="text" class="form-control col-form-label-sm" id="tel"
                                           placeholder="933 07 34 02" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="dire" class="col-form-label col-form-label-sm">Dirección</label>
                                    <span id="requiredDire"></span>
                                    <input type="text" class="form-control col-form-label-sm" id="dire"
                                           placeholder="Carrer de la Selva de Mar, 211, 08020 Barcelona" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="email" class="col-form-label col-form-label-sm">Correo
                                        electrónico</label>
                                    <span id="requiredEmail"></span>
                                    <input type="email" class="form-control col-form-label-sm" id="email"
                                           placeholder="juan.manuel@gmail.com" required>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="aceptar" class="btn btn-primary">Aceptar</button>
                        <button type="button" id="cerrar" class="btn btn-secondary" data-dismiss="modal">Cerrar
                        </button>
                        <div class="alert-success"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>